@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Three Amigos Staff Portal</h1>
    <h2 class="display-4">Sign In</h2>
</div>

<h1 class="display-4">Login </h1>

<body>

<form>
 Username:<br>
  <input type="text" name="UserName">
  <br>
 Password:<br>
  <input type="text" name="Password">
  <br>
</form>

<br>
<input type="submit" value="Login" class="btn btn-primary">
<br><br>

Forget Password:
<br>
<input type="text" name="Reset Password">
<br>

<br>
<input type="submit" value="Reset Password" class="btn btn-primary">
<br>
<br>
<a  asp-area="" asp-controller="Registration" asp-action="Index">Not registered? Click Here to Register</a>
<br>
</body>